<h1><%- sizeName %></h1>

<h2>Styles</h2>

<ui-button class="<%- className %>">Default</ui-button>
<ui-button class="<%- className %> primary">Primary</ui-button>
<ui-button class="<%- className %> ghost">Ghost</ui-button>

<h2>Animations</h2>

<ui-button class="<%- className %>" animate="Click me!">Default</ui-button>
<ui-button class="<%- className %> primary" animate="Click me!">Primary</ui-button>
<ui-button class="<%- className %> ghost" animate="Click me!">Ghost</ui-button>

<h2>Icons (left)</h2>

<ui-button class="<%- className %>" icon="fa fa-home">Default</ui-button>
<ui-button class="<%- className %> primary" icon="fa fa-home">Primary</ui-button>
<ui-button class="<%- className %> ghost" icon="fa fa-home">Ghost</ui-button>

<br/>

<ui-button class="<%- className %> icon-right" icon="fa fa-home">Default</ui-button>
<ui-button class="<%- className %> primary icon-right" icon="fa fa-home">Primary</ui-button>
<ui-button class="<%- className %> ghost icon-right" icon="fa fa-home">Ghost</ui-button>

<br/>

<ui-button class="<%- className %>" icon="fa fa-home" animate="Click me!">Default</ui-button>
<ui-button class="<%- className %> primary" icon="fa fa-home" animate="Click me!">Primary</ui-button>
<ui-button class="<%- className %> ghost" icon="fa fa-home" animate="Click me!"V>Ghost</ui-button>

<br/>

<ui-button class="<%- className %> icon-right" icon="fa fa-home" animate="Click me!">Default</ui-button>
<ui-button class="<%- className %> primary icon-right" icon="fa fa-home" animate="Click me!">Primary</ui-button>
<ui-button class="<%- className %> ghost icon-right" icon="fa fa-home" animate="Click me!"V>Ghost</ui-button>
